# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CppIntroduction.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Jack Karlsson\Documents\GitHub\marczaku-gp20-2021-0524-nim-game-Jackoberto\project\CppIntroduction\.idea\.idea.CppIntroduction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
